<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Web Form</h2>
      </center>
    </div>

    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name?">
	    <br>
	  <label for="email">Email:</label>
	  <input type="text" class="form-control" id="email" name="email" placeholder="Your email address.">
	    <br>
	</div>
        <br>													   
        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>
    </div>
    </div>
  </body>
</html>