<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <title>Thank You</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="container col-md-offset-1" style="line-height: 2.0;">
        <div class="row">
            <h1 class="text-center" style="font-family: Abel,Arial,sans-serif;font-weight: 400;font-size: 40px;line-height: 1.5;color: rgb(136,0,0);">Thanks</h1>
        </div>
        <div class="row col-md-offset-1" style="margin-top: 10px;">
            <p style="font-family: Abel,Arial,sans-serif;font-size: 20px;line-height: 1.5; display: inline;">Thank you ,
                <strong>{{ respondent1 }}</strong>. We sent mail to:<strong>{{ respondent2 }}</strong></p>
        </div>
</html>